In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Iris.csv')

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
grouped_data = df.groupby('Species')

In [6]:
summary_stats = grouped_data.agg({
    'PetalLengthCm': ['mean', 'median', 'min', 'max', 'std'],
    'SepalLengthCm': ['mean', 'median', 'min', 'max', 'std'],
    'SepalWidthCm': ['mean', 'median', 'min', 'max', 'std'],
    'PetalWidthCm': ['mean', 'median', 'min', 'max', 'std'],})

In [7]:
summary_stats

                PetalLengthCm                            SepalLengthCm         \
                         mean median  min  max       std          mean median
Species
Iris-setosa             1.464   1.50  1.0  1.9  0.173511         5.006    5.0
Iris-versicolor         4.260   4.35  3.0  5.1  0.469911         5.936    5.9
Iris-virginica          5.552   5.55  4.5  6.9  0.551895         6.588    6.5

                                    SepalWidthCm                             \
                 min  max       std         mean median  min  max       std
Species
Iris-setosa      4.3  5.8  0.352490        3.418    3.4  2.3  4.4  0.381024
Iris-versicolor  4.9  7.0  0.516171        2.770    2.8  2.0  3.4  0.313798
Iris-virginica   4.9  7.9  0.635880        2.974    3.0  2.2  3.8  0.322497

                PetalWidthCm
                        mean median  min  max       std
Species
Iris-setosa            0.244    0.2  0.1  0.6  0.107210
Iris-versicolor        1.326    1.3  1.0  1.8  0.197753
Iris-virginica         2.026    2.0  1.4  2.5  0.274650

In [8]:
df['SepalLengthCm'].describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9,1])

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
10%        4.800000
20%        5.000000
30%        5.270000
40%        5.600000
50%        5.800000
60%        6.100000
70%        6.300000
80%        6.520000
90%        6.900000
100%       7.900000
max        7.900000
Name: SepalLengthCm, dtype: float64

In [9]:
df['SepalWidthCm'].describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9,1])

count    150.000000
mean       3.054000
std        0.433594
min        2.000000
10%        2.500000
20%        2.700000
30%        2.800000
40%        3.000000
50%        3.000000
60%        3.100000
70%        3.200000
80%        3.400000
90%        3.610000
100%       4.400000
max        4.400000
Name: SepalWidthCm, dtype: float64

In [10]:
df['PetalLengthCm'].describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9,1])

count    150.000000
mean       3.758667
std        1.764420
min        1.000000
10%        1.400000
20%        1.500000
30%        1.700000
40%        3.900000
50%        4.350000
60%        4.640000
70%        5.000000
80%        5.320000
90%        5.800000
100%       6.900000
max        6.900000
Name: PetalLengthCm, dtype: float64

In [13]:
df['PetalWidthCm'].describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9,1])

count    150.000000
mean       1.198667
std        0.763161
min        0.100000
10%        0.200000
20%        0.200000
30%        0.400000
40%        1.160000
50%        1.300000
60%        1.500000
70%        1.800000
80%        1.900000
90%        2.200000
100%       2.500000
max        2.500000
Name: PetalWidthCm, dtype: float64